<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqu.community.mapper.AnswerMapper">

    <select id="selectByQuestionId" resultType="com.zhiqu.community.entity.Answer">
        SELECT * FROM t_answer
        WHERE question_id = #{questionId}
        AND status = 'published'
        ORDER BY is_accepted DESC, vote_count DESC, created_at ASC
    </select>

</mapper>
