<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqu.community.mapper.SensitiveWordMapper">

    <select id="selectActiveWords" resultType="com.zhiqu.community.entity.SensitiveWord">
        SELECT * FROM t_sensitive_word WHERE status = 'active'
    </select>

</mapper>
